.pageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 240px;

  &Title {
    padding-top: 126px;
    padding-bottom: 37px;
    font-size: 40px;
    line-height: 42px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }

  &Logo {
    align-self: flex-start;
    margin-left: 50px;

    &Image {
      width: 150px;
    }
  }

  &Image {
    margin-bottom: 63px;
  }
}
