@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

    background: rgba(0, 0, 0, 0.6);
}

.app {
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    width: 1200px;

    color: #efefef;
    background-color: #232323;
}

/*.button {*/
    /*color: #f65261;*/
    /*text-transform: uppercase;*/
    /*text-decoration: none;*/
/*}*/

/*.button--add-movie {*/
    /*padding: 16px 18px;*/
    /*background-color: rgba(255, 255, 255, 0.3);*/
    /*border-radius: 6px;*/
    /*font-size: 18px;*/
/*}*/

/*!* Header *!*/
/*.header {*/
    /*position: relative;*/
    /*flex: 1 100%;*/
    /*height: 400px;*/

    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/

    /*background: url(./components/images/header-bg.jpg) no-repeat 0 0;*/
    /*background-size: cover;*/
/*}*/

/*.header:before {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/

    /*content: '';*/

    /*background: rgba(0, 0, 0, 0.7);*/
/*}*/

/*.header .button {*/
    /*position: absolute;*/
    /*top: 18px;*/
    /*right: 55px;*/
/*}*/

/*.header .logo {*/
    /*position: absolute;*/
    /*top: 18px;*/
    /*left: 55px;*/
/*}*/

/*.header .logo-image {*/
    /*width: 150px;*/
/*}*/

/*!* Search *!*/
/*.search {*/
    /*z-index: 1;*/
/*}*/

/*.search-title {*/
    /*margin-bottom: 40px;*/
    /*font-size: 37px;*/
    /*line-height: 39px;*/
    /*color: #e8e8e8;*/
    /*text-transform: uppercase;*/
    /*font-weight: 300;*/
    /*letter-spacing: 5px;*/
/*}*/

/*.form-input {*/
    /*box-sizing: border-box;*/
    /*border: 0;*/
    /*border-radius: 6px;*/
    /*width: 715px;*/
    /*height: 55px;*/
    /*padding: 0 20px;*/
    /*color: #fff;*/
    /*font-size: 20px;*/
    /*line-height: 20px;*/

    /*background: rgba(0, 0, 0, 0.8);*/
/*}*/

/*.form-button {*/
    /*box-sizing: border-box;*/
    /*border: 0;*/
    /*border-radius: 10px;*/

    /*display: inline-flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*width: 232px;*/
    /*height: 55px;*/
    /*margin-left: 14px;*/
    /*padding: 0;*/
    /*font-size: 19px;*/
    /*line-height: 19px;*/

    /*background: #f65261;*/
    /*color: #fff;*/
    /*text-transform: uppercase;*/
    /*cursor: pointer;*/
/*}*/

/*!* Navigation *!*/
/*.nav {*/
    /*flex: 1 100%;*/
    /*display: flex;*/
    /*margin: 0 70px;*/
    /*box-shadow: 0 4px 2px -2px #000;*/
/*}*/

/*.results-filter {*/
    /*display: flex;*/
    /*justify-content: flex-start;*/
/*}*/

/*.results-filter-item {*/
    /*padding: 20px 15px 20px 15px;*/
    /*border-bottom: 2px solid #424242;*/
    /*text-transform: uppercase;*/
    /*font-size: 18px;*/
/*}*/

/*.results-filter-item:first-child {*/
    /*padding-left: 0;*/
/*}*/

/*.results-filter-item.selected {*/
    /*border-bottom-color: #f65261;*/
/*}*/

/*.results-filter-link,*/
/*.results-filter-link:visited,*/
/*.results-filter-link:hover {*/
    /*color: rgba(255, 255, 255, 1);*/
    /*text-decoration: none;*/
/*}*/

/*.results-filter-link:hover {*/
    /*color: rgba(255, 255, 255, 0.7);*/
/*}*/

/*.results-sort {*/
    /*flex: 1 0 0;*/
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*border-bottom: 2px solid #424242;*/
    /*font-size: 18px;*/
    /*text-transform: uppercase;*/
/*}*/

/*.results-sort-label {*/
    /*padding: 20px 30px 20px 0;*/
    /*color: #555;*/
/*}*/

/*.results-sort-criterion {*/
    /*position: relative;*/
    /*padding: 20px 30px 20px 0;*/
    /*color: #fff;*/
/*}*/

/*.results-sort-criterion.results-sort-up:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*right: 4px;*/

    /*display: block;*/
    /*width: 0;*/
    /*height: 0;*/
    /*border: 5px solid transparent;*/
    /*border-top: 7px solid #f65261;*/
    /*margin-top: -2.5px;*/
/*}*/

/*!* Search Result *!*/
/*.search-result {*/
    /*flex: 1 100%;*/
    /*padding: 0 70px;*/
/*}*/

/*!* Movies List *!*/
/*.movies-list {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
/*}*/

/*.movies-list-item {*/
    /*flex: 0 0 auto;*/
    /*width: 322px;*/
    /*padding-bottom: 50px;*/
/*}*/

/*.movie-footer {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*padding-top: 20px;*/

    /*color: rgba(255, 255, 255, 0.5);*/
/*}*/

/*.movie-title {*/
    /*flex: 1 1 auto;*/
/*}*/

/*.movie-release-date {*/
    /*flex-shrink: 0;*/
    /*padding: 5px 12px;*/
    /*border: 1px solid rgba(255, 255, 255, 0.5);*/
    /*border-radius: 3px;*/
/*}*/

/*.movie-genre {*/
    /*flex: 0 0 100%;*/
    /*padding-top: 2px;*/
/*}*/

/*!* Footer *!*/
/*.footer {*/
    /*flex: 1 100%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 85px;*/
    /*background-color: #424242;*/
/*}*/

/*.footer .logo-image {*/
    /*width: 150px;*/
/*}*/

/*!* Search Result *!*/
/*.search-count {*/
    /*padding: 27px 0;*/
    /*font-size: 14px;*/
/*}*/

/*.search-count-hightlight {*/
    /*font-weight: 600;*/
/*}*/

/*!* Empty result *!*/
/*.empty-result {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*font-size: 50px;*/
    /*padding: 100px 0;*/
    /*display: none;*/
/*}*/

